body {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  font-family: helvetica, sans-serif;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: blanchedalmond;
}

#top {
  color: darkblue;
}
