/* the classic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global font and background color */
body {
  font-family: 'Space Mono', monospaced;
  background-color: #f4ebe8;
}

header {
  padding: 2rem 0 1rem 0;
  text-align: center;
  background-color: #7785ac;
  color: white;
  width: 80%;
  margin: 2rem auto;
  border-radius: 2rem;
  border: 0.5rem solid black;
}

/* headers on subpages to make distinct */
.subpage-header {
  width: 60%;
}

/* group of cards */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4rem;
}

/* needed since i'm not using the anchor tag */
.link {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin: 2rem auto;
  padding: 2.5rem 4rem 2.5rem 4rem;
  border-radius: 3.5rem;
  border: 0.5rem solid black;
  background-color: #5b2a86;
  color: white;
  font-size: 1.5rem;
  transition: all 1s ease;
}

.folding {
  padding: 2.5rem 4rem 1.5rem 4rem;
  cursor: pointer;
}

/* pop out hover effect */
.card:hover {
  transform: translate(1rem, -1rem);
  box-shadow: -1rem 1rem black;
}

h2 {
  font-weight: normal;
  padding-bottom: 2rem;
}

.card h2 {
  font-weight: bold;
}

main {
  width: 100%;
}

/* back button in top left */
.back-button {
  display: flex;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  color: #5b2a86;
}

.back-button p {
  margin-left: 0.25rem;
}

.back-button p:hover {
  text-decoration: underline;
}

.wrapper {
  background-color: #f4ebe8;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: lightgray;
  height: 4rem;
  border-top: 0.5rem solid black;
}

/* to make sure the footer is laid out correctly */
.footer-container {
  position: absolute;
  bottom: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* makes sure visited links don't turn purple >:( */
a:visited {
  color: white;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* pictures around the site */
.pic {
  border-radius: 0.5rem;
}

.sparkle {
  width: 10%;
}

/* mobile! */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 1rem;
  }

  .card {
    width: 80%;
    padding: 2rem;
  }

  .footer-container {
    width: 100%;
  }

  header {
    width: 90%;
    padding: 1.5rem 1rem 0 1rem;
  }

  footer {
    width: 100%;
  }

  .sparkle {
    width: 20%;
  }

  .subpage-header {
    width: 90%;
    margin-top: 3rem;
  }
}
